body{
    background: url(../imgs/wall.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
}
.home{
    background: url(../imgs/wall.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
}
h1{
    margin-bottom: 20px;
    font-size: 50px;
    color:  white;
}
h2{
    font-size: 40px;
    color:  white;
}

h3{
    font-size: 18px;
    color: white;
}
.h4{
    font-size: 22px;
    color:white;
}
.home{
    font-size: 20px;
    color: white;
}
nav.navbar-dark{
 
    border-bottom: 5px solid #ebeae9 !important;
    background-color: rgb(61, 25, 75) !important;
}

label{
    font-size: 30px;
    color: white;
}
input{
    font-size: 15px;
}

p.scrollable{
	height: 150px;
	overflow-y:auto;
}

.der{
	color: white;
}